.socialContainerGeneral {
    display: flex;
    flex-direction: column;
    background-color: var(--bk-container);
    width: 98%;
    height: 210px;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.103); 
    align-items: center;
    justify-content: center;
}


.infoContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
    flex-direction: row;
}

.infoTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 0.5rem;
    gap: 0.5rem;
}


.subtitle {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--t-gray-body);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}


.title {
    display: inline-block;
    vertical-align: middle;
    color: var(--t-white);
    font-size: 1.4rem;
    font-weight: 600;

}

.infoButton {
    display: flex;
    margin-right: 1rem;
    font-size: 3rem;
    color: rgb(64, 64, 64);
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.infoButton:hover {
    color: white;
  }
  

  @media (max-width: 768px) {
    .subtitle {
        font-size: 1rem;
    }

    .title {
        font-size: 1.2rem;
    }
  }