.bioImageGeneral {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--bk-container); */
    width: 100%;
    height: 38rem;
    border-radius: 2rem;
    /* border: 1px solid rgba(255, 255, 255, 0.103); */
  }


.bioImageContainer {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.bioImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 2rem 0.5rem;
}


@media (max-width: 768px) {
 
  .bioImageGeneral {
    width: 80%;
    margin-bottom: 40px;
 }
}