.row1projects {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.row1col1projects {
    width: 37%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.row1col2projects {
    width: 75%;
    font-size: 100px;
    display: flex;
    justify-content: flex-start;
}

.row2projects, .row3projects {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {

    .row1projects {
        flex-direction: column;

    }

    .row1col1projects {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    

   .row1col2projects {
        width: 100%;
        display: flex;
        justify-content: center;
    }
   

   .row2projects {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    
   }

   .row3projects {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    
   }
  }