.contactContainerGeneral {
    display: flex;
    flex-direction: column;
    background-color: var(--bk-container);
    width: 100%;
    height: 210px;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.103);
    justify-content: center;
    align-items: center;
}



.infoContainer {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.infoTextContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0%;
    align-content: center;
    flex-wrap: wrap;
}


.subtitle {
    color: var(--t-white);
    font-size: 4.5rem;
    margin-left: 10px;
    line-height: 50px;
}

.wordColor {
    color: var(--t-blue);
    font-size: 45px;
}

/* .infoButtonContainer {
    align-self: flex-end;
  }
  
  .infoButton {
      margin-right: 1rem;
      font-size: 3rem;
      color: var(--bk-round-button);
  }

  .infoButton:hover {
    color: white;
  } */