.dataContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--bk-container);
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.value {
    display: flex;
    font-size: 3rem;
    color: var(--t-white);
    font-weight: 600;
}


.description {
    width: 90px;
    display: flex;
    font-size: 1.1rem;
    color: var(--t-gray-body);
    font-weight: 600;
    text-transform: uppercase;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 18px;
}
