@font-face {
  font-family: "inter";
  src: url()
}


:root {
  --bk-primary: #1a1a1d;
  --bk-container: #ffffff05;
  --bk-menu-button: #2a3b42;
  --bk-hover-button: #334952;
  --t-white: #FFFFFF;
  --t-hoover-menu: #49777f;
  --t-white-menu: #d1d1d1;
  --t-blue: #4d6f7b;
  --t-gray-body: #c3c3c397;
  --bk-round-button: #858585;

}

body {
  background-color: #1a1a1d;
}


#root {
  width: 80vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  font-size: 16px;
  font-size: 62.5%;
}

* {
  font-family: "Inter";
  box-sizing: border-box;
}


@media (max-width: 768px) {
  
  #root {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
}